body{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  display: flex;
  align-self: center;
}

button{
  background-color: rgb(159 159 159);
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

button:hover {
  background-color: white;
  color: rgb(159 159 159);
}

input {
  border: solid 2px rgb(159 159 159);
  border-radius: 10px;
  width: 95px;
  text-align: center;
}